
{% extends "auctions/layout.html" %}

{% block main %}

<script>
document.addEventListener('DOMContentLoaded', ()=> {

    document.querySelector('form').onsubmit = ()=> {
        event.preventDefault();
        form = document.querySelector('form');
        console.log('start of on submit');
        console.log(`fpomr is ${form}`);
        console.log(`event is ${event}`);
        console.log(`this is ${this}`);

        const formData = new FormData(form);
        const comment = document.querySelector('#id_comment').value;
        console.log(`comment is ${comment}`);
        console.log(`comment is FormData ${formData}`);

        fetch(form.action, {
            method: "POST",
            body: formData
        })
        .then(response => {
            console.log(`resonse: ${response}`);
            return response.json()})
        .then(data => {
            addComment(data);
            console.log(data);
        })
        .catch(error => {
            console.log("*** api/comment error **", error);
        })
        console.log('end of on submit')
        return false;
    }
})

function addComment(data) {
    const section = document.createElement('section');
    section.class = "comments";

    const p1 = document.createElement('p');
    p1.innerHTML = data["comment"];

    section.append(p1);
    document.querySelector('article').prepend(section);
}

function cancelButton() {
    window.location = "{% url 'index' %}";
}
</script>


<h2>Commenting on {{ listing.title }}</h2>

<form action="{% url 'api-add-comment' listing.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <div>
        <input type="submit" name="cancel" value="Cancel" formnovalidate="formnovalidate" 
            onClick="cancelButton()">
        <input type="reset" name="reset" value="Reset">
        <input type="submit" name="submit" value="Add Comment">
    </div>
</form>

<article class="comments">
    {% for c in listing.comments.all reversed%}
        <section class="comments">
            <p>{{ c.comment }}</p>
            <p style="font-size:small">Posted by <strong>{{c.commentor}}</strong> at {{c.created_at}}</p>
        </section>
    {% endfor %}
    </article>

{% endblock %}